<div id="footer">
	<div id="feed">
		<div class="badget" id="github">
			<a href="http://github.com/sdyz5210">
			<span class="service">github</span>
			<span class="info">618+</span>
			</a>
		</div>
		<div class="badget" id="twt">
			<a href="http://twitter.com/sdyz5210">
			<span class="service">twitter</span>
			<span class="info">1618+</span>
			</a>
		</div>
		<div class="badget" id="twt">
			<a href="http://segmentfault.com/u/sdyz5210">
			<span class="service">segmentfault</span>
			<span class="info">521+</span>
			</a>
		</div>
	</div>
	<span style="color:#bbb;font-size:12px">Action speak louder than words.</span>
	<p style="clear:both"></p>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45523038-2', 'fee.im');
  ga('send', 'pageview');

</script>
